In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in d:\anaconda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [4]:
data = pd.Series([1,2,3,4])

In [5]:
data

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
data = pd.Series([1,2,3,4], index = (['a','b','c','d']))

In [4]:
data

a    1
b    2
c    3
d    4
dtype: int64

In [6]:
indx = (['c','d','e'])
lst = ([1,2,3])

In [8]:
data1 = pd.Series(data = lst , index = indx)
data1

c    1
d    2
e    3
dtype: int64

In [14]:
df = pd.read_excel('data.xlsx')

In [15]:
df

    1   2   3   4   5
0   2   4   6   8  10
1   3   6   9  12  15
2   4   8  12  16  20
3   5  10  15  20  25
4   6  12  18  24  30
5   7  14  21  28  35
6   8  16  24  32  40
7   9  18  27  36  45
8  10  20  30  40  50